<div class="seccion-separador" aria-hidden="true">
  <span class="seccion-separador-linea"></span>
  <span class="seccion-separador-onda"></span>
  <span class="seccion-separador-linea"></span>
</div>
